.wysiwyg-map-tokenbuilder {
  margin-bottom: 15px;
}

#insert-wysiwyg-map-token .form-item {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#insert-wysiwyg-map-token .form-item input[type="text"] {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.wysiwyg-map-tokenbuilder::before,
.wysiwyg-map-tokenbuilder-fields-1::before,
.wysiwyg-map-tokenbuilder-fields-2::before,
.wysiwyg-map-tokenbuilder::after,
.wysiwyg-map-tokenbuilder-fields-1::after,
.wysiwyg-map-tokenbuilder-fields-2::after {
  clear: both;
  content: " ";
  display: table;
}

.wysiwyg-map-tokenbuilder-map {
  float: left;
  padding-right: 20px;
  width: 380px;
}

.wysiwyg-map-tokenbuilder-fields-1 {
  float: left;
  width: 374px;
}

#wysiwyg_map_selector {
  height: 300px;
  width: 380px;
}

.wysiwyg-map-tokenbuilder-fields-2 .form-item-marker-popup-text {
  float: left;
  width: 60%;
}

.wysiwyg-map-tokenbuilder-fields-2 .form-item-marker-popup-default {
  box-sizing: border-box;
  float: left;
  padding: 20px 0 0 20px !important;
  width: 40%;
}